
body{
    overflow: hidden;
}

/* */
.card-container{
    width: 620px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 310px);
    grid-template-rows: repeat(3, 166.66px);
}
.card-img-container{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-image: url("../assets/image-product-desktop.jpg");
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
}

/* titulo */

.card-title-container{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-top-right-radius: 10px;
    padding: 0 30px;
}
.card-title-container #n1,
.card-title-container #n2 {
    font-size: 2rem;
    margin: 0;
}
.card-title-container #n3 {
    font-size: 0.8rem;
    padding: 15px 0;
}

/* Parrafo */
.card-info-container{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 10px 30px;
}
.card-info-container #n4{
    font-size: 0.8rem;
    line-height: 25px;
    letter-spacing: 1px;
}

/*  */
.card-price-container{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 10px;
    padding: 0 30px;
}
.card-price-container div{
    display: flex;
    align-content: center;
    align-items: flex-start;
    height: 70px;
}
.card-price-container #n5{
    font-size: 2rem;
}
.card-price-container #n6{
    font-size: 1vw;
}
.card-price-button-container{
    height: 60px;
    color: var(--white);
}
.card-price-button-container img{
    width: 20px;
    height: 20px;
}
.card-price-button-container p{
    font-size: 1rem;
}